[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Patrick Marsceill
	email = patrick.marsceill@gmail.com
	signingkey = CACE3CF519B3E9DD
[core]
	excludesfile = /Users/pmarsceill/.gitignore_global
	editor = nvim
[push]
	default = simple
[github]
	user = pmarsceill
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
